@model WebApplication1.Models.Book

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Book</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Author)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Author)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Genre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Genre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Availability)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Availability)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
    </dl>
</div>
<div>
    <a asp-controller="Orders" asp-action="Create" class="btn btn-secondary">Order</a>
</div>


<div>
    <a asp-action="Index">Back to List</a>
</div>

<hr />

<h3>Reviews</h3>
@if (Model.Reviews != null && Model.Reviews.Any())
{
    <ul>
        @foreach (var review in Model.Reviews)
        {
            <li>
                <strong>@review.Rating/5</strong> - @review.Comment
                <p><em>By: @review.UserName</em></p>
            </li>
        }
    </ul>
}
else
{
    <p>No reviews yet. Be the first to review this book!</p>
}

<hr />

<h4>Add a Review</h4>
<form asp-action="AddReview" method="post">
    <input type="hidden" name="bookId" value="@Model.Id" />
    <div class="form-group">
        <label for="UserName">Name:</label>
        <input type="text" id="UserName" name="userName" class="form-control" required />
    </div>
    <div class="form-group">
        <label for="Rating">Rating (1-5):</label>
        <select id="Rating" name="rating" class="form-control" required>
            @for (int i = 1; i <= 5; i++)
            {
                <option value="@i">@i</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label for="Comment">Comment:</label>
        <textarea id="Comment" name="comment" class="form-control" required></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit Review</button>    
</form>
