@model IEnumerable<WebApplication1.Models.Member>

@{
    ViewData["Title"] = "Index";
}

<h1>Welcome</h1>

<p>
    <a asp-action="Create">Become A Member!</a>
</p>

@if (User.IsInRole("Admin"))
{

    <div class="row">
        <div class="col-md-6">
            <form class="d-flex" asp-action="Index" asp-controller="Members">
                <input name="searchString" class="form-control me-1" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-dark" type="submit">Search</button>
            </form>
        </div>

        <div class="col-md-6">
            <a asp-action="Index" class="text-dark">Back To Full List</a>
        </div>
    </div>


<table class="table">
    <thead>
        <tr>
            <th scope="col">
                <a class="text-dark" asp-controller="Members" asp-action="Index" asp-route-sortOrder="@ViewData["NameSort"]">
                    @Html.DisplayNameFor(model => model.Name)
                </a>
            </th>
            <th scope="col">
                <a class="text-dark" asp-controller="Members" asp-action="Index" asp-route-sortOrder="@ViewData["LastNameSort"]">
                    @Html.DisplayNameFor(model => model.LastName)
                </a>
            </th>
            <th scope="col">
                <a class="text-dark" asp-controller="Members" asp-action="Index" asp-route-sortOrder="@ViewData["EmailSort"]">
                    @Html.DisplayNameFor(model => model.Email)
                </a>
            </th>
            <th scope="col">
                <a class="text-dark" asp-controller="Members" asp-action="Index" asp-route-sortOrder="@ViewData["PhoneSort"]">
                    @Html.DisplayNameFor(model => model.Phone)
                </a>
            </th>
            <th scope="col">
                <a class="text-dark" asp-controller="Members" asp-action="Index" asp-route-sortOrder="@ViewData["AddressSort"]">
                    @Html.DisplayNameFor(model => model.Address)
                </a>
            </th>
            <th scope="col">
                <a class="text-dark" asp-controller="Members" asp-action="Index" asp-route-sortOrder="@ViewData["DateSort"]">
                    @Html.DisplayNameFor(model => model.Date)
                </a>
            </th>
            <th scope="col">
                <a class="text-dark" asp-controller="Members" asp-action="Index" asp-route-sortOrder="@ViewData["AmountSort"]">
                    @Html.DisplayNameFor(model => model.Amount)
                </a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                    <td>
                        <a asp-action="Details" class="text-dark" asp-route-id="@item.Id">@item.Name</a>
                    </td>

            <td>
                <a asp-action="Details" class="text-dark" asp-route-id="@item.Id">@item.LastName</a>
            </td>
            <td>
                <a asp-action="Details" class="text-dark" asp-route-id="@item.Id">@item.Email</a>
            </td>
            <td>
                <a asp-action="Details" class="text-dark" asp-route-id="@item.Id">@item.Phone</a>
            </td>
            <td>
                <a asp-action="Details" class="text-dark" asp-route-id="@item.Id">@item.Address</a>
            </td>
            <td>
                <a asp-action="Details" class="text-dark" asp-route-id="@item.Id">@item.Date</a>
            </td>
            <td>
                <a asp-action="Details" class="text-dark" asp-route-id="@item.Id">@item.Amount</a>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
}