@model IEnumerable<WebApplication1.Models.Order>
@using Microsoft.AspNetCore.Identity

@{
    ViewData["Title"] = "Index";
}
<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

@if (User.IsInRole("Admin"))
{

    <div class="row">
        <div class="col-md-6">
            <form class="d-flex" asp-action="Index" asp-controller="Orders">
                <input name="searchString" class="form-control me-1" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-dark" type="submit">Search</button>
            </form>
        </div>

        <div class="col-md-6">
            <a asp-action="Index" class="text-dark">Back To Full List</a>
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">
                    <a class="text-dark" asp-controller="Orders" asp-action="Index" asp-route-sortOrder="@ViewData["FirstNameSort"]">
                        @Html.DisplayNameFor(model => model.First_Name)
                    </a>
                </th>
                <th scope="col">
                    <a class="text-dark" asp-controller="Orders" asp-action="Index" asp-route-sortOrder="@ViewData["LastNameSort"]">
                        @Html.DisplayNameFor(model => model.Last_Name)
                    </a>
                </th>
                <th scope="col">
                    <a class="text-dark" asp-controller="Orders" asp-action="Index" asp-route-sortOrder="@ViewData["EmailSort"]">
                        @Html.DisplayNameFor(model => model.Email)
                    </a>
                </th>
                <th scope="col">
                    <a class="text-dark" asp-controller="Orders" asp-action="Index" asp-route-sortOrder="@ViewData["AdressSort"]">
                        @Html.DisplayNameFor(model => model.Adress)
                    </a>
                </th>
                <th scope="col">
                    <a class="text-dark" asp-controller="Orders" asp-action="Index" asp-route-sortOrder="@ViewData["BookNameSort"]">
                        @Html.DisplayNameFor(model => model.Book_Name)
                    </a>
                </th>
                <th scope="col">
                    <a class="text-dark" asp-controller="Orders" asp-action="Index" asp-route-sortOrder="@ViewData["WriterNameSort"]">
                        @Html.DisplayNameFor(model => model.Writer_Name)
                    </a>
                </th>
                <th scope="col">
                    <a class="text-dark" asp-controller="Orders" asp-action="Index" asp-route-sortOrder="@ViewData["OrderDateSort"]">
                        @Html.DisplayNameFor(model => model.Order_Date)
                    </a>
                </th>
                <th scope="col">
                    <a class="text-dark" asp-controller="Orders" asp-action="Index" asp-route-sortOrder="@ViewData["DateSentSort"]">
                        @Html.DisplayNameFor(model => model.Date_Sent)
                    </a>
                </th>
                <th scope="col">
                    <a class="text-dark" asp-controller="Orders" asp-action="Index" asp-route-sortOrder="@ViewData["DateReturnedSort"]">
                        @Html.DisplayNameFor(model => model.Date_Returned)
                    </a>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a asp-action="Details" class="text-dark" asp-route-id="@item.Id">@item.First_Name</a>
                    </td>
                    <td>
                        <a asp-action="Details" class="text-dark" asp-route-id="@item.Id">@item.Last_Name</a>
                    </td>
                    <td>
                        <a asp-action="Details" class="text-dark" asp-route-id="@item.Id">@item.Email</a>
                    </td>
                    <td>
                        <a asp-action="Details" class="text-dark" asp-route-id="@item.Id">@item.Adress</a>
                    </td>
                    <td>
                        <a asp-action="Details" class="text-dark" asp-route-id="@item.Id">@item.Book_Name</a>
                    </td>
                    <td>
                        <a asp-action="Details" class="text-dark" asp-route-id="@item.Id">@item.Writer_Name</a>
                    </td>
                    <td>
                        <a asp-action="Details" class="text-dark" asp-route-id="@item.Id">@item.Order_Date.ToString("dd-MM-yyyy")</a>
                    </td>
                    <td>
                        <a asp-action="Details" class="text-dark" asp-route-id="@item.Id">@item.Date_Sent?.ToString("dd-MM-yyyy")</a>
                    </td>
                    <td>
                        <a asp-action="Details" class="text-dark" asp-route-id="@item.Id">@item.Date_Returned?.ToString("dd-MM-yyyy")</a>
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

}
